{%extends 'tasks/base.html'%}
{%block title%}Edit Details{%endblock%}
{%block content%}
    <!-- <form action="" method="POST">{%csrf_token%}
        {{form.as_p}}
        <input class="btn btn-success" type="submit" value="Save">
        <a class="btn btn-primary" href="{% url 'homepage' %}">Back To Home</a>
    </form> -->
    <div class="container bg bg-warning rounded text-center mt-4 mb-4">
        <h1 class=" ml-5">EDIT DETAILS</h1>
    </div>
       <div class="container text-center mt-5 border border-3">
            <form action="" method="POST">{%csrf_token%}
                {%for fm in form%}
                    {{fm.label_tag}} <br> {{fm}} <br>
                {%endfor%}
                <input class='btn btn-success'type="submit" value="Save">
                <a class="btn btn-primary" href="{% url 'homepage' %}">Back Home</a>
            </form>
       </div>
{%endblock%}    